AppData/Roaming/foobar2000-v2/running
AppData/Roaming/foobar2000-v2/nobadshutdown
AppData/Roaming/foobar2000-v2/library-error-log.txt
AppData/Roaming/foobar2000-v2/playlists-v2.0/**
AppData/Roaming/foobar2000-v2/playlists-v1.4/**
AppData/Roaming/foobar2000-v2/library-v2.0/**
AppData/Roaming/foobar2000-v2/library/**
**/*.src.ini
AppData/Roaming/nvda/teleNVDA.ini