{{ if eq .chezmoi.os "windows" }}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end }}
[user]
	email = 82350043+blindelectron@users.noreply.github.com
	name = blindelectron
	signingkey = ~/.ssh/id_gitkey
[commit]
	gpgsign = true
[gpg]
	format = ssh